<!DOCTYPE html>
{% extends 'insta.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

   <div class="profile-container">
            <div class="profile-header">
                <div class="profile-pic">
                     {% if request.session.name and user_object %}
                    <img src="{{ user_object.image.url }}" alt="Profile Picture">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <h2>{{ request.session.name }}</h2>
                    <p>Bio: {{ request.session.place }}</p>
                    <div class="profile-stats">

                        {% with image_count=data|length %}
                       <a href=""> <span><strong>{{ image_count }}</strong> Posts</span></a>
                        {% endwith %}
                        {% with follow_count=follow.count %}
                        <a href="{% url 'followers' dataid=request.session.name item=request.session.name %}"><span><strong>{{follow|length}}</strong> Followers</span></a>
                        {% endwith %}
                        {% with follow_count=datas.count %}
                        <a href="{% url 'foll' dataid=request.session.name item=request.session.name %}"><span><strong>{{datas|length}}</strong> Following</span></a>
                        {% endwith %}
                    </div>
                        <form action="{% url 'edit' dataids=request.session.name  %}" method="get" enctype="multipart/form-data">
                    <button class="follow-btn">Edit Profile</button>
                        </form>
                </div>
            </div>
            <div class="profile-posts">
                {% for item in data %}
                {% if item.image %}
                <div class="post">
                    <img src="{{item.image.url}}" alt="Post Image">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
<script>

    function openstatus() {
        document.getElementById("addstatus").style.display = "block";
    }
    function closestatus() {
        document.getElementById("addstatus").style.display = "none";
    }
    function openadd() {
        document.getElementById("addModal").style.display = "block";
    }
       function closeadd() {
        document.getElementById("addModal").style.display = "none";
    }
    function openSearchModal() {
        var modal = document.getElementById("searchModal");
        modal.style.display = "block";
        modal.style.visibility = "visible";
    }

    function closeModal() {
    document.getElementById("searchModal").style.display = "none";
    }
</script>
    {% endblock %}
</body>
</html>
